
$layouts-region-style-default: (
  stroke: #000000,
  stroke-width: 1
);

$layouts-region-style: (
  'r1': (
    fill: #70991e,
  ),
  'r2': (
    fill: #462bad,
  ),
  'r3': (
    fill: #de7404,
  ),
  'r4': (
    fill: #b73cba,
  ),
  'r5': (
    fill: #42bfa9,
  ),
  'r6': (
    fill: #7bad3c,
  ),
  'r7': (
    fill: #c62e44,
  ),
  'r8': (
    fill: #e3e505,
  )
);

@mixin layouts-icon($num-of-regions) {
  @if length(map-keys($layouts-region-style-default)) > 0 {
    rect {
      @each $property, $value in $layouts-region-style-default {
        #{$property}: $value;
      }
    }
  }

  @for $r from 1 through $num-of-regions {
    $region: "r#{$r}";

    $style: map-get($layouts-region-style, $region);
    @if length(map-keys($style)) > 0 {
      #region-#{$region} {
        @each $property, $value in $style {
          #{$property}: $value;
        }
      }
    }
  }
}

@mixin layouts-amoeba-layout-admin-content($num-of-regions) {
  $color: #ffffff;

  color: $color;

  @for $r from 1 through $num-of-regions {
    $region: "r#{$r}";
    $style: map-get($layouts-region-style, $region);

    &.#{$region} {
      background-color: map-get($style, "fill");
    }
  }
}

@function layouts-icon-fill-color($region) {
  $style: map-get($layouts-region-style, $region);
  $color: map-get($style, "fill");

  @if $color != null {
    @return $color;
  }

  @return map-get($layouts-region-style-default, "fill");
}
