
@import "style";

.layouts-amoeba-layout-settings-main.layouts-r4-two-col-stacked {
  .layouts-amoeba-layout-admin-content {
    @include layouts-amoeba-layout-admin-content(4);
  }
}

.layouts-r4-two-col-stacked.admin {
  $outline-width: 3px;
  $outline-style: solid;
  $margin-bottom: 1em;

  > header {
    margin-bottom: $margin-bottom;
    outline: $outline-width $outline-style layouts-icon-fill-color("r1");
  }

  > div {
    margin-bottom: $margin-bottom;

    > main {
      width: 74%;
      margin-right: 2%;
      float: left;
      outline: $outline-width $outline-style layouts-icon-fill-color("r2");
    }

    > aside {
      width: 24%;
      float: left;
      outline: $outline-width $outline-style layouts-icon-fill-color("r3");
    }
  }

  > footer {
    outline: $outline-width $outline-style layouts-icon-fill-color("r4");
  }
}
